/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MY CSS SYNTAX */
html{
    font-family: 'Poppins';
}
h1{
    font-size: 30px;
    font-weight: bolder;
}
h2{
    font-size: 25px;
    font-weight: bold;
}
h3{
    font-size: 20px;
    font-weight: bold;
}
p{
    font-size: 16px;
    font-weight: normal;
}

header{
    background-image: url(img/bg1.jpeg);
    background-size: cover;
    height: 100vh;
}

.navbar{
    display: flex;
    align-items: center;
    word-spacing: 20px;
    height: 100px;
    margin: 0px auto 10px auto;
}
/* NAVBAR HAMBURGER */

.menu-toggle{
    position: relative;
    left: 1vw;
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
}
.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
}
/* END OF NAVBAR HAMBURGER */
.navbar ul{
    font-size: 1.5vmax;
    position: absolute;
    left: 5%;
}
.navbar button{
    right: 5%;
    position: absolute;
    cursor: pointer;
    font-family: 'Poppins';
    font-size: calc(.5vmax + 1rem);
    font-weight: bold;
    border-radius: 3vmax;
    border: 1px solid transparent;
    width: 12vmax;
    height: 3vmax;
    background-color: white;
    color: black;
    box-shadow: 0px 9px 1px -5px rgba(0, 0, 0, 1);
    transition: .2s;
}
.navbar button:active{
    margin-top: 5px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
}

.navbar li{
    font-weight: 450;
    display: inline;
}
.navbar a{
    color: white;
    text-decoration: none;
}
.navbar a:hover{
    text-decoration: underline;
}
.navbar a:active{
    color: lightgreen;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 80%;
    margin: 0px auto 10px auto;
}
.hero-txt{
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 1);
    text-align: center;
    width: 100%;
    color: whitesmoke;
}
.hero-txt h1{
    font-size: calc(4vw + 1.5rem);
    line-height: 1.2em;
    margin: 0px auto 10px auto;
}
.hero-txt p{
    font-style: italic;
    margin: 0px auto 10px auto;
    font-size: calc(1vh + 1.5rem);
}


.hero-txt button{
    margin: 0px auto 0px auto;
    left: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
    font-family: 'Poppins';
    font-size: calc(.5vmax + 1rem);
    font-weight: bold;
    border-radius: 3vmax;
    border: 1px solid transparent;
    width: 12vmax;
    height: 3vmax;
    background-color: white;
    color: black;
    box-shadow: 0px 9px 1px -5px rgba(0, 0, 0, 1);
    transition: .2s;
}
.hero-txt button:active{
    margin-top: 5px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
}

section{
    background-color: rgb(212, 212, 212);
    width: 95vw;
    height: 200vh;
    margin: 50px auto auto auto;
    padding-top: 50px;
    box-shadow: -1px 0px 5px 5px rgba(0, 0, 0, .5);
}

/* ANIMASI DI SECTION */

.about{
    margin: auto;
    border: 1px solid transparent;
    border-radius: 3vmax;
    overflow: hidden;
    height: 50vmin;
    width: 90%;
    display: flex;
    align-items:center;
    justify-content: space-around;
    transition: .5s;
}
.about:hover{
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);
}
.about img{
    transform: scale(1.5);
    width: 25vw;
    border-radius: 50%;
}
.about .attachments{
    order: 2;
    text-align: center;
}
.about-txt{
    width: 50%;
    line-height: 1.5;
    order: 1;
}
.about-txt p{
    margin-bottom: 10vh;
    text-align: justify;
}
.about a{
    font-size: 1.4em;
    color: black;
}