/* SKILLS */
section#skills {
  padding-top: 10vh;
}

section .container1 {
  position: relative;
  background-color: white;
  width: 100%;
  margin: auto;
  padding: 20px;
  border-radius: 7px;
}
.container1 .skill-box {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}
.skill-box .title {
  display: block;
  font-size: 1.4rem;
  font-weight: 600;
  color: #2A3132;
}
.skill-box i.bxl-html5 {
  color: #e34c26;
}
.skill-box i.bxl-css3 {
  color: #264de4
  ;
}
.skill-box i.bxl-tailwind-css {
  color: aqua;
}
.skill-box i.bxl-javascript {
  color: #f0db4f;
}
.skill-box .skill-bar {
  height: 8px;
  width: 100%;
  margin-top: 6px;
  border-radius: 7px;
  background-color: rgba(0,0,0,0.25);
}

.skill-bar .skill-per {
  position: relative;
  display: block;
  height: 100%;
  width: 85%;
  background-color: rgb(2 132 199);
  border-radius: 6px;
  animation: progress 0.4s ease-in-out forwards;
  opacity: 0;
}

.skill-per.css {
  width: 80%;
}
.skill-per.tailwindcss {
  width: 80%;
}
.skill-per.javascript {
  width: 50%;
}

@keyframes progress {
  0% {
    width: 0;
    opacity: 0;
    
  }
  100% {
    opacity: 1;

  }
}

.skill-per .tooltip {
  position: absolute;
  right: -14px;
  top: -28px;
  background: rgb(2 132 199);
  font-weight: 500;
  color: white;
  padding: 2px 6px;
  font-size: 9px;
  border-radius: 3px;
  z-index: 1;
}
.tooltip::before {
  content: '';
  position: absolute;
  left: 50%;
  z-index: -1;
  bottom: -2px;
  height: 10px;
  width: 10px;
  background-color: rgb(2 132 199);
  transform: translateX(-50%) rotate(45deg);
}



/* EDUCATION */
::selection{
  color: #fff;
  background: #264de4;
}
.wrapper{
  max-width: 1080px;
  margin: 50px auto;
  padding: 0 20px;
  position: relative;
}
.wrapper .center-line{
  position: absolute;
  height: 100%;
  width: 4px;
  background: #fff;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
.wrapper .row{
  display: flex;
}
.wrapper .row-1{
  justify-content: flex-start;
}
.wrapper .row-2{
  justify-content: flex-end;
}
.wrapper .row section{
  background: #fff;
  border-radius: 5px;
  width: calc(50% - 40px);
  padding: 20px;
  position: relative;
}
.wrapper .row section::before{
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  top: 28px;
  z-index: -1;
  transform: rotate(45deg);
}
.row-1 section::before{
  right: -7px;
}
.row-2 section::before{
  left: -7px;
}
.row section .icon,
.center-line .scroll-icon{
  position: absolute;
  background: #f2f2f2;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  font-size: 17px;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
}
.center-line .scroll-icon{
  bottom: 0px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
}
.row-1 section .icon{
  top: 15px;
  right: -60px;
}
.row-2 section .icon{
  top: 15px;
  left: -60px;
}
.row section .details .title{
  font-size: 22px;
  font-weight: 600;
}
.row section p{
  margin: 10px 0 17px 0;
}
/* .row section .bottom a{
  text-decoration: none;
  background: #ff7979;
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 400;
  transition: all 0.3s ease;
}
.row section .bottom a:hover{
  transform: scale(0.97);
} */
@media(max-width: 790px){
  .wrapper .center-line{
    left: 40px;
  }
  .wrapper .row{
    margin: 30px 0 3px 60px;
  }
  .wrapper .row section{
    width: 100%;
  }
  .row-1 section::before{
    left: -7px;
  }
  .row-1 section .icon{
    left: -60px;
  }
}
@media(max-width: 440px){
  .wrapper .center-line,
  .row section::before,
  .row section .icon{
    display: none;
  }
  .wrapper .row{
    margin: 10px 0;
  }
}

#contact form {
  width: 100%;
  text-align: center;
}

.input-box .input-field {
  width: 100%;
}

.field .item {
  width: 100%;
  padding: 18px 25px;
  background: transparent;
  border: 2px solid #264de4;
  outline: none;
  border-radius: 6px;
  color: #ededed;
  margin: 12px 0;
  font-size: 16px;
}
.field .item::placeholder {
  color: rgba(255, 255, 255, .3);
}

form .textarea-field .item {
  resize: none;
}

form button {
  color: white;
  font-size: 1.2rem;
  font-weight: 450;
  background-color: #264de4;
  border-radius: 1rem;
  padding: 8px 20px;
}
form button:hover {
  box-shadow: 0 0 10px #ededed;
  transition: all .3s ease;
  transition-duration: .3s;
}

@media(min-width: 790px) {
  .field .item {
    width: 600px;
  }
}